<h1>Login</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <label for="exampleInputEmail1">Correo </label>
    <input type="text" [(ngModel)]="emailUser" class="form-control"  id="emailInput" aria-describedby="emailHelp" required autofocus>
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password"  [(ngModel)]="passwUser" class="form-control"  required autofocus (keydown)="loginByEvent($event)" id="exampleInputPassword1">
    <br>
    <button type="button" class="btn btn-primary btn-sm btn-block " id="button"   (click)="login()"  >Ingresar</button>    
  </div>
  <button type="button" class="btn btn-light" routerLink="/usuario">Registrate</button>
</div>


